#eventsDiv{
    background-color: #53daf1;
    /* margin-top: 10px; */
    padding: 10px;
    height: auto;
}

.travelBtn{
    background-color: #f05f40;
}

.img-thumbnail{
    padding: 0px;
}

button{
    border-style: none;
}

.card{
    padding: 10px;
    margin: 10px;
}

.popup-gallery{
    background-color: #f05f40;
    height: 100vh;
}